
html {
    overflow-y: scroll;
    overflow-x: hidden;
    color: white;
}

a {
    color: white;
}
a:hover {
    animation: highlight 1s ease infinite alternate;
}

/* This star animates in the background to make it look somewhat nice.*/
.star {
    opacity: 0;
    position: absolute;
    min-width: 0.5vh;
    min-height: 0.5vh;
    background-color: white;
    border-radius: 100%;
}

.intro {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80vw;
    height: 30vh;
    margin: 35vh auto 45vh;
    background-color: rgba(0,0,0,0);
    animation: fade 2s;
}

.intro h1 {
    font-size: 300%;
}
.intro h2 {
    font-size: 200%;
}

.entry {
    background-color: rgba(200,200,200,0.2);
    width: 70vw;
    max-height: 100vh;
    border-radius: 0 0 5% 5%;
    margin: 2% auto;
    padding: 0 1% 2%;
    transition: max-height 0.5s ease-out;
}

.entry_button {
    font-size: 15px;
    height: 3vh;
    width: 90%;
    margin: 0 auto;
    transition: background-color 0.05s linear;
    background-color: rgb(15,15,15);
}

.entry_button:hover {
    background-color: rgb(30,30,30);
}

.collapsed {
    max-height: 3vh;
    padding: 0 1%;
    overflow: hidden;
    transition: max-height 0.3s ease-out, padding 0.1s 0.3s;
}

@keyframes fade {
    from {opacity: 0; }
    to {opacity: 1; }
}
@keyframes highlight {
    from {color: white;}
    to {color: gray;}
}